.bg-blue {
    background-color: blue;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-red {
    background-color: red;
}

.bg-pink {
    background-color: pink;
}

.bg-green {
    background-color: green;
}

.bg-lightgreen {
    background-color: lightgreen;
}

.bg-yellow {
    background-color: yellow;
}

.bg-yellowgreen {
    background-color: yellowgreen;
}